   /* Grundeinstellungen*/
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Ausblenden des hamburgermenüs*/
.ham
{
  display: none;
}
.menu
{
  display: none;
}

   /* Schriftart, Größe, Hintergrundfarbe*/
body 
{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18pt;	
  background-color: #fdefea; 
  text-align: center;
}

/*Zentriert das Logo oben und gibt ihm Platz*/
header 
{
  text-align: center;
  padding: 10px;
  background-image: url("../pics/cam/2_Banner.jpg");
  background-size: cover;
  background-position-y: middle;

}

/*Gibt dem Logo seine Größe*/
#logo
{
  width: 300px;
}

/*Gibt der Navigation Farbe, padding top passt den abstand zur oberen
Kante an, position sticky lässt die nav bar oben dran kleben.*/
#menue
{
  background-color: #8da077;
  padding-top: 15px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
}

/*Lässt flex zu, gibt die höhe von 40px, lässt alles in der mitte erscheinen 
und die ul-punkte verschwinden*/
#menue ul 
{
  display: flex;
  height: 40px;
  justify-content: center;
  vertical-align: middle;
  list-style: none;
}

/*Setzt die Farbe fest, gibt die Schriftfarbe, Setzt die Schrftgröße auf das
1,8 fache, Lässt alles im block erscheinen, ohne Dekorationen, alles in 
Großschrift, mit einem spacing von 2 px und einer breite 210px von jedem
Feld und lässt alles in der Mitte seines feldes erscheinen.Zudem 
ändert sich die Farbe langsam beim hovern.*/
#menue a 
{
  color:#fdefea;
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 224px;
  padding-left: 30px;
  transition: color 0.7s ease;
}

#dropdown
{
  color:#fdefea;
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 224px;
  padding-left: 30px;
  transition: color 0.7s ease;
}

#aktuell.start
{
  width: 160px;
  margin-left: 30px;
}


/*Lassen das aktuelle sowie das "hovernde" Feld unterstrichen sein*/
#menue a:hover, #menue #aktuell
{
  color: #FFF;
  text-decoration: underline;
}

#menue a:active
{
  color: rgb(216, 216, 216);
}

/*---------------------------------dropdown in arbeit----------------------------------------*/
/*-------------------------------------------------------------------------------------------*/ 
#dropdown ul
{
  display:none;
}

#dropdown:hover ul 
{
  display:block;
  z-index:500;
}

.submenu
{
position: absolute;
}


#Dienstleistungen
{
  background-color:  #8da077;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;

}

#Hofladen
{
  background-color:#8da077 ;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
 
}

#Hofladen a, #Dienstleistungen a
{
width: 320px;
}
/*-------------------------------------------------------------------------------------------*/




















/*Im folgenden ist die i-Pad / Tablet variante */
@media (max-width:1120px )
{

/*Ausblenden der nav-Leiste*/
  #menue
  {
    display: none;
  }



/*Einblenden des Hamburgermenüs*/
  .ham
{
  display: initial;
}

.menu
{
  display: initial;
}

/*Hamburgermenü im folgenden*/
/*----------------------------------------------------------------------------*/
  .ham 
  {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #8da077;
    cursor: pointer;
  }
  
  .xIcon 
  {
    display: none;
  }
  
  .menu 
  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #8da077da;
    color:#fdefea;
    transform: translateX(-100%);
    transition: transform 0.7s ease;
    list-style: none;
    padding-top: 60px;
  }
  
  .showMenu 
  {
    transform: translateY(0);
  }
  
  li 
  {
    padding: 10px 0;
  }
  
  .menu a 
  {
    margin-left: 10px;
    color:#fdefea;
    font-size: 1.8rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 210px;
    transition: color 0.7s ease;
  }
  
  .menu a:hover, .menu #aktuell 
{
  color: #FFF;
  text-decoration: underline;
}

/*--------------------------------------------------------------------*/

header
{
  position: relative;
  text-align: right;
}

#logo
{
  width: 200px;
}
}
@media (max-width:500px )
{
  header 
  {
    text-align: right;
    padding: 10px;
  }

  header img 
  {
    width: 100px;
  }

}
/* Anfang Texte index*/

#willkommen, #hofvideo
{
  display: flex;
  justify-content: center;
  align-items: center;
}
#willkommen p, #hofvideo p
{
  background-color: #F0B7A3;
  width: 1120px;
  padding: 20px;
  margin-top: 20px;
}


/* unser hof*/

#familie
{
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  
}

#hofgeschichte
{
  background-color: #F0B7A3;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}


#standbeine
{
  background-color: #F0B7A3;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  
}

          #schweine
          {
            background-color: blue;
          }
          
          #energie
          {
            background-color: burlywood;
          }

          #ackerbau
          {
            background-color: blue;
          }

#diashow
{
  background-color: #F0B7A3;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

/* unser Angebot*/

#produktinfo
{
  background-color: #F0B7A3;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#rondell
{
  background-color: #F0B7A3;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}



/* Textformatierung */

h1
{
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  text-align: center;
}
.unterschrift
{
  font-family: 'Allison', cursive;
  font-size: 35px;
}




