   /* Grundeinstellungen*/
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

   /* Schriftart, Größe, Hintergrundfarbe*/
body 
{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18pt;	
  background-color: #fdefea; 
}

/*Zentriert das Logo oben und gibt ihm Platz*/
header 
{
  text-align: center;
  padding: 10px;
}

/*Gibt dem Logo seine Größe*/
img#logo
{
  width: 300px;
}

/*Gibt der Navigation Farbe, padding top passt den abstand zur oberen
Kante an, position sticky lässt die nav bar oben dran kleben.*/
nav#menue
{
  background-color: #8da077;
  padding-top: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/*Lässt flex zu, gibt die höhe von 40px, lässt alles in der mitte erscheinen 
und die ul-punkte verschwinden*/
#menue ul 
{
  display: flex;
  height: 40px;
  justify-content: center;
  vertical-align: middle;
  list-style: none;
}

/*Setzt die Farbe fest, gibt die Schriftfarbe, Setzt die Schrftgröße auf das
1,8 fache, Lässt alles im block erscheinen, ohne Dekorationen, alles in 
Großschrift, mit einem spacing von 2 px und einer breite 210px von jedem
Feld und lässt alles in der Mitte seines feldes erscheinen.Zudem 
ändert sich die Farbe langsam beim hovern.*/
#menue a 
{
  color:#fdefead8;
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 210px;
  text-align: center;
  transition: color 0.7s ease;
}

/*Folgende drei felder Passen die Größe an*/
#start a, #nws a
{
  width: 180px;
}

#angebot a
{
  width: 340px;
}

/*Lassen das aktuelle sowie das "hovernde" Feld unterstrichen sein*/
#menue a:hover, #menue #aktuell 
{
  color: #FFF;
  text-decoration: underline;
}

/*Im folgenden ist die i-Pad / Tablet variante */
@media (max-width:1120px )
{

#oben
{
  width: 100%;
}

body header
{
  position: relative;
}

header img 
{
  width: 200px;
  position: absolute;
  right:3%;
  top: 0;
}

}

@media (max-width:500px )
{
/*muss irgendwie nach rechts...*/
  header 
  {
    text-align: right;
    padding: 10px;
  }

  header img 
  {
    width: 100px;
  }

}